<div class="comic-nav__wrap">
    <div class="comic-nav">
        {%- if page.previous and page.previous.layout == "comic_page" -%}
        <a class="comic-nav__prev" href="{{ site.baseurl }}{{ page.previous.url }}">Prev</a>
        {%- else -%}
        <span>Prev</span>
        {%- endif -%}

        <a class="comic-nav__list" href="{{ site.baseurl }}/{{ page.collection }}/list">Page List</a>

        {%- if page.next and page.next.layout == "comic_page" -%}
        <a class="comic-nav__next" href="{{ site.baseurl }}{{ page.next.url }}">Next</a>
        {%- else -%}
        <span>Next</span>
        {%- endif -%}
    </div>
</div>