// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.post-header__wrap, .comic-nav__wrap, .comic-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-header__wrap {
    height: 150px;
    .post-header {
        font-size: 20px;
        margin-bottom: 0px;
        h1 {
            margin-bottom: 0px;
        }
        .post-meta {
            margin-left: 5px;
        }
    }    
}

.comic-nav__wrap{
    height: 50px;
}
.comic-nav {
    width: 17em;
    font-size: 20px;
    margin-bottom: 5px;

    a, span {
        text-decoration: none;
        padding: 0px 12px;
        margin-bottom: 5px;
    }
    .comic-nav__list {
        border-right: 2px solid grey;
        border-left: 2px solid grey;
    }
    .comic-nav__next {
        border-right: 1px solid grey;
        margin-right: 2px;
    }
    .comic-nav__prev {
        border-left: 1px solid grey;
        margin-left: 2px;
    }
}

.comic-list__comic{
    margin-bottom: 40px;
    .comic-list__title {
        margin-bottom: 0px;
    }
    .comic-list__authors {
        margin-bottom: 15px;
    }
}

.portfolio-wrapper{
    .piece-wrapper{
        p {
            margin: 0px;
            padding: 0px;
        }
        margin-bottom: 20px;
        padding: 10px;
    }
    label{
        font-style: italic;
        color:rgb(85, 85, 85);
    }
}
