---
layout: default
---

{%- assign collection = site.collections | where: "label", page.collection -%}
{%- assign pages = collection[0].docs | where: "layout", "comic_page" -%}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ collection[0].title | escape }} Index
    </h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

    {%- for page in pages -%}
    <div>
        <a href="{{ site.baseurl }}{{ page.url }}">{{ collection[0].title }} {{ page.pagenum }}</a>
    </div>
    {%- endfor -%}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>